html,
body {
    height: 100%;
    background-size: cover;
    color: #444;
    font-family: Arial;
}

@media (min-width:768px) {
    h1 {
        font-size: 68px;
    }
}

/* Menu nav */
a {
    color: #888;
}

a:hover {
    color: #111;
}

.btn,
.well,
.panel {
    border-radius: 0;
}

.text-danger,
a.text-danger {
    color: #4ead95;
}

.icon-bar {
    background-color: #f3fff9;
}

.navbar-trans {
    background-color: #5f748f;
    color: #f3fff9;
    border-width: 0;
}

.navbar-trans, .navbar-brand
.navbar-trans>.container-fluid .navbar-brand{
    padding: 30px 30px 40px 30px;
    color: #4ead95;
}

.navbar-trans li>a:focus,
.navbar-trans li.active {
    background-color: #4ead95;
    color: #333;
    border-radius: 10px;
}

.navbar-trans li>a:hover {
    background-color: #4ead95;
    color: #f3fff9;
    border-radius: 10px;
}

.navbar-trans a {
    color: #f3fff9;
    letter-spacing: 1px;
}

.navbar-trans .form-control:focus {
    border-color: #f3fff9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}

/* Sections */
section {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100%;
    min-height: calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

}

/* Home */
#home {
    background-color: #82afac;
    color: #f9ffff;
    padding-bottom: 0px;
}

#home h2 {
    padding: 80px 0px 0px 0px;
}

#home p {
    padding: 20px 0px 0px 0px;
}

#home .btn-compreAgora {
	-moz-box-shadow: 1px 10px 0px 0px #b64a1b;
	-webkit-box-shadow: 1px 10px 0px 0px #b64a1b;
	box-shadow: 1px 10px 0px 0px #b64a1b;
	background-color: #d25400;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #ffffff;
	font-size: 17px;
	padding: 17px 40px;
	text-decoration: none;
    margin: 20px 80px 80px 120px;
}
#home .btn-compreAgora:hover {
	background-color:#e85d00;
}

#home .iphone {
    padding: 80px 40px 0px 80px;
}

/* Sobre */
#sobre {
    background-color: #b7a287;
    color: #eee5d6;
}

#sobre span {
    font-weight: bolder;
    color: #fff;
}

#sobre .descricao {
    padding: 70px;
}

#sobre img {
    padding: 0px 0px 30px 0px;
}

#sobre p {
    text-align: center;
}

#sobre .btn-compreAgora {
	-moz-box-shadow: 1px 10px 0px 0px #b64a1b;
	-webkit-box-shadow: 1px 10px 0px 0px #b64a1b;
	box-shadow: 1px 10px 0px 0px #b64a1b;
	background-color: #d25400;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	color: #ffffff;
	font-size: 17px;
	padding: 17px 40px;
	text-decoration: none;
}
#sobre .btn-compreAgora:hover {
	background-color:#e85d00;
}

/* Trabalhos */
#trabalhos {
    background-color: #d0cca7;
    color: #fffdff;
}

#trabalhos span {
    font-weight: bolder;
    color: #fff;
}

#trabalhos .descricao {
    padding: 70px;
}

#trabalhos img {
    padding: 0px 0px 30px 0px;
}

#trabalhos p {
    text-align: center;
}


/* Contato */
footer {
    background-color: #deded6;
    color: #33363d;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer .nav>li>a {
    padding: 3px;
}

footer .nav>li>a:hover {
    color: #fff;
}

/* Alterações gerais */
.alinhar-esq {
    float: left;
}

.alinhar-dir {
    float: right;
}

.alinhar-centro {
    align-content: center;
}

.btn-huge {
    padding: 17px 22px;
    font-size: 22px;
}
